
body {
  font-family: 'Calibri', 'Arial', sans-serif;
}
p {
  background-color: rgb(227, 230, 233);
}
body{
    text-align: left
}

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}